venv/
.history/
__pycache__/
.idea/
logs/celery.log
celerybeat-schedule
.vscode/
setup.cfg
.env
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.DS_Store
celerybeat.pid
**/logs/** 
!**/logs
**/db.sqlite3
**/node_modules
**/package-lock.json
**/build
.env
/k8s/secrets/
**/management/data/**
user/management/data/users.json
