venv/
.history/
__pycache__/
.idea/
logs/celery.log
celerybeat-schedule
.vscode/
setup.cfg
.env
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.DS_Store
celerybeat.pid
**/logs/debug.log
**/logs/celery.log
user_service/logs/
.env
/k8s/secrets/
**/management/data/**
user/management/data/users.json
